@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: white;
    height: 100vh;
}

.main-heading {
    font-size: 38px;
    font-weight: 600;
    font-family: Open Sans;
}

.color-button {
    height: 80px;
    width: 80px;
    border-radius: 16px;
    font-size: 13px;
    font-weight: 500;
    border-style: solid;
    border-width: 3px;
}

.button-1 {
    background-color: #e0e0e0;
}

.button-2 {
    background-color: #6fcf97;
}

.button-3 {
    background-color: #56ccf2;
}

.button-4 {
    background-color: #bb6bd9;
}

.color-description {
    background-color: #222222;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.color-name {
    color: #56ccf2;
}

.decription-info {
    font-size: 15px;
    font-family: roboto;
    font-weight: 500;
}